.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  /*animation-duration: 100s;*/
  height: 80px;
  margin:0 auto;
}
#title{
  margin:0 auto;
  display:flex;
  flex-flow: row;

}
body{
  background: grey;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: .5s;

}
.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;

}
#bla{
  display:flex;
}
#machineBody{
  border: solid 10px black;
  height: 100%;
  width:90%;
  margin:0 auto;
  /*margin: 10% 10%;*/
  display:block;
  background: white;
}
#machineInstrumentBox{
  border: solid 5px grey;
  height: 90%;
  display: flex;
}
#timeColumn{
  border: solid 2px red;
  width:100%;
}
#noteBody{
  background-color: tan;
  /*display:inline-block;*/
  display: block;
  flex-direction:column;
  width:100%;
padding: 1px;
border: solid 2px black;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#buttons{
  width:100%;
  height:50px;
}
#buttons:active{
  background: blue;
}
#playbutton{
  width:100px;
  color:white;
  background-color: darkblue;
  border-radius: 10px;
  margin: 10px 10px;
}
