.App {
  text-align: center;
}
#title{
  margin:0 auto;
  display:flex;
  font-size:100%;
  font-family: 'Barrio', cursive;
}
body{
  background: grey;
}
.App-header {
  text-align: center;
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}
#bla{
  height: 100%;
  font-size:50px;
  font-family: 'Barrio', cursive;
  align-self: center;
}
#machineBody{
  border: solid 10px black;
  height: 100%;
  width:90%;
  margin:0 auto;
  display:block;
  background: white;
}
#machineInstrumentBox{
  border: solid 5px grey;
  height: 90%;
  display: flex;
}
#timeColumn{
  border: solid 5px black;
  width:100%;
}
#noteBody{
  background-color: black;
  display: block;
  flex-direction:column;
  width:100%;
padding: 1px;
/*border: solid 2px black;*/
}
#buttons{
  width:100%;
  background: grey;
  height:60px;
}
#buttons:active{
  background: blue;
}
#playbutton{
  width:100px;
  color:white;
  background-color: darkblue;
  border-radius: 10px;
  margin: 2px 10px;
}

#buttons1{
  background:red;
  height:60px;
  width:100%
}
