.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  /*animation-duration: 100s;*/
  height: 80px;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: .5s;

}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;

}
#machineBody{
  border: solid 10px black;
  height: 100%;
  margin: 10% 10%;
  display:block;
}
#machineInstrumentBox{
  border: solid 5px grey;
  height: 400px;
  display: flex;
}
#timeColumn{
  border: solid 2px red;
  width:7%
}
#noteBody{
  background-color: tan;
  /*display:inline-block;*/
  display: block;
  flex-direction:column;
  width:70%;
  margin-left: 10px;
  margin-right: 10px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#playbutton{
  width:100px;
  background-color: grey
}
